{% extends 'base.html' %}

{% block title %} Moje rezerwacje {% endblock %}

{% block head %} 
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="{{ url_for('static', filename='app-myreservations.js') }}" type="module" defer="defer"></script>
{% endblock %}

{% block body %}
<style>
    .loading-animation {
      display: flex;
      justify-content: center; /* Centralizuje zawartość poziomo */
      align-items: center; /* Centralizuje zawartość wertykalnie */
      height: 100vh; /* Wysokość równa wysokości ekranu */
    }
    
    .loading-animation img {
      max-width: 100%; /* Maksymalna szerokość obrazka to szerokość jego kontenera */
      max-height: 100%; /* Maksymalna wysokość obrazka to wysokość jego kontenera */
    }
</style>

<div class="container mt-3">
    <h1>Moje rezerwacje</h1>
</div>

<div class="container" id="app">
    <Reservations></Reservations>
</div>
{% endblock %}
